body {
    font-family: 'Arial', sans-serif;
    background-color: rgba(255, 244, 255, 1);
    /* background-color: white; */
    margin: 80px;
    padding: 0;
    margin-top: 350px;
}

header {
    background: linear-gradient(#0096FF, #0088A3);
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 10px #020024;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.3s;
    z-index: 2;
}

#title {
    padding: 1rem 2rem;
}

#pikachu-img {
    /* margin-left: 40%; */
    position: absolute; left: 100px; top: 0px;
    height: 150px;
    width: 150px;
}

.title-text {
    background-color: white;
    border: 3px solid black;
    color: yellow;
    display: inline-block;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 50px;
    letter-spacing: 3px;
    margin-left: 20px;
    -webkit-text-stroke: 3px black;
    text-shadow: 3px 8px 0 blue,
    8px 8px 0 blue;
    border-radius: 300px;
}

#pokeball-img {
    width: 10%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: 100px;
}
main {
    padding: 30px 20px;
    height: 100%;
    background-color: #0096FF;
    margin: 45px 20px;
    box-shadow: 0 10px 25px black;
    border-radius: 10px;

}

#poke-form, #team-search-form, #poke-team-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

#current-team {
    height: 150px;
    margin-left: 10px;
    padding: 0 30px;
}

#current-team-holder {
    background-color: rgba(255, 2555, 255, 0.4);
    align-items: center;
    width: 50%;
    margin-left: 70px;
    border-radius: 10px;
}

#current-team-holder h2 {
    padding-top: 20px;
    padding-left: 20px;
}

input[type="text"] {
    padding: 5px 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    background-color: #DC143C;
    color: white;
    cursor: pointer;
    box-shadow: 2px 3px 4px black;
}

#current-team div {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
    padding: 10px 27px;
    margin: 15px;
    float: left;
    align-items: center;
}

#current-team div h5 {
    position: relative; top: -50px; left: 75px;
}

#current-team div button {
    position: relative; top: 50px; left: -65px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
}

#poke-entry {
    border: 2px solid black;
    border-radius: 10px;
    background-image: url("https://ssb.wiki.gallery/images/thumb/7/73/SSBU-Pok%C3%A9mon_Stadium_2.png/1200px-SSBU-Pok%C3%A9mon_Stadium_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 47%;
    height: 100%;
    float: left;
    background-color: lightgray;
}

#poke-main {
    display: inline-block;
    width: 100%;
}

#poke-name {
    color: white;
    padding-left: 20px;
}

#poke-description {
    border: 2px solid black;
    background-color: white;
}

#description {
    padding-left: 20px;
    font-weight: bold;
}

#stats {
    background: linear-gradient(#ffcccb, #DC143C, #ffcccb);
    float: left;
    width: 47%;
    max-height: 500px;
    height: 100%;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 55px;
}

#stats * {
    display: inline-block;
    padding: 5px;
}

#poke-info {
    /* position: relative; */
    /* margin: 0 auto; */
    /* width: 50%;
    height: 400px; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-poke-img {
    margin: auto;
}

h2 {
    margin-top: 0;
}

button {
    background-color: #ff3333;
    color: white;
    padding: 5px 10px;
    border: 3px solid black;
    box-shadow: 5px 5px 5px black;
    border-radius: 4px;
    cursor: pointer;
}

#team-section {
    display: flex;
    gap: 20px;
}

#team-section-submitter, #team-section-holder-rater {
    flex: 1;
}

footer {
    display: inline-block;
    margin-left: 20px;
    font-size: 1.2em;
}

#retrieved-team-section {
    margin-top: 40px;
    background-color: lightgray;
    border-radius: 10px;
    background: linear-gradient(#ffcccb, #DC143C, #ffcccb);
}

#team-holder-rater {
    height: 500px;
    overflow: auto;
    margin-top: 20px;
}

.team-div {
    background: linear-gradient(lightgray, white, lightgray);
    border-radius: 10px;
    padding: 0 10px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.poke-div {
    background-image: url(https://images-ext-2.discordapp.net/external/i8vxEzQOWNmrWSpcvVDWgd-tJMNfy9PHdfjx1hsFPrQ/https/www.seekpng.com/png/full/160-1602772_opened-pokeball-by-napsterking-on-deviantart-jpg-freeuse.png?width=402&height=480);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    background-size: 150px;
    padding: 20px 75px;  
}

#rating-form {
    padding-top: 1.5em;
    padding-left: 2em;
    font-weight: bolder;
}

#widgets {
    border: 5px solid black;
    margin-top: 50px;
    height: 440px;
    overflow: auto;
    border-radius: 10px;
    background-image: url("https://pokemonrevolution.net/forum/uploads/monthly_2021_03/DVMT-6OXcAE2rZY.jpg.afab972f972bd7fbd4253bc7aa1cf27f.jpg");
}


#widgets div {
    display: inline;
    height: 5%;
    width: 5%;
    padding: 10px;
    filter: blur(0px);
    
}

#widgets img {
    margin: 30px 0;
    margin-left: 40px;
    border: #020024 solid;
    padding: 20px 5px;
    height: 17%;
    width: 6%;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2fb2821a-1406-4a1d-9b04-6668f278e944/d843okx-eb13e8e4-0fa4-4fa9-968a-e0f36ff168de.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzJmYjI4MjFhLTE0MDYtNGExZC05YjA0LTY2NjhmMjc4ZTk0NFwvZDg0M29reC1lYjEzZThlNC0wZmE0LTRmYTktOTY4YS1lMGYzNmZmMTY4ZGUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.TIK_E5L8dTyBUk_dADA5WkLP8jSJMR7YGJG54KNAido");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

#stats span, li {
    font-weight: bold;
    color: white;
}